@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Bebas+Neue&family=Zilla+Slab&display=swap');
body,
html{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'PT Sans Caption', sans-serif;;
    background-color: white;
}

.menu-toggle{
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgb(182, 22, 22);
    line-height: 50px;
    z-index: 999;
}
.menu-toggle:focus,
.menu-toggle:hover{
    color: #fff;
}
.menu-toggle:hover{
    background: rgba(255, 255, 255, 0.1);
}

#sidebar-wrapper{
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0sn;
    transform: translateX(250px);
    background:  rgb(182, 22, 22);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav{
    position: absolute; 
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.sidebar-nav li a:hover{
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus{
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand{
    font-size: 1.2rem;
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(52, 58, 64, 0.1);
    padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a{
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover{
    color: #fff;
    background: none;
}

#sidebar-wrapper.active{
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0sn;
}


.masthead{
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: 75%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255,255,255,0.1) 100%), url("resimler/coronavirus.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.masthead h1{
    text-transform: uppercase;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: #fff;
}

.masthead .baslik2 em{
    color: #fff;
    text-transform: uppercase;
  
}

@media (min-width: 992px){
    .masthead{
        height: 100vh;
    }
    .masthead h1{
        font-size: 5.5rem;
    }
}

.btn-x1{
    padding: 1.25rem 2.5rem;
    margin: 2rem;
    text-transform: uppercase;
    background-color: #a81920;
    border: none;
    color: #fff;
}

.btn-x1:hover{
    background-color: #a81920;
    color: #EF5350;
}

h2{
    margin-top: 5REM;
    font-weight: 600;
    color: #a81920;
}
h3{
    margin-top: 2rem;
    color: #a81920;
    padding-left: 1rem;
}
h1,h4,h5,h6{
    font-weight: 700;
}

.Container{
    margin: 2% 2% 0 3%;
    background-color: white;
    padding-top: 0.5rem;
    
}

.tarihce p{
    margin-top: 1rem;
    width: 110rem;
    height: 100%;
    font-size: 18px;
    color: #000;
}

.korunma p{
    margin-top: 1rem;
    width: 110rem;
    font-size: 18px;
    color: #000;
}

.belirti p{
    margin-top: 1rem;
    color: #000;
    padding-left: 2rem;
}

.tedavi p{
    margin-top: 1rem;
    width: 110rem;
    height: 100%;
    font-size: 18px;
    color: #000;
}

footer{
    font-size: 17px;
    margin-top: 92px;
    width: 100%;
    height: 75px;
    background-color: #a81920;
    color: white;
    line-height: 75px;
    float: left;
    padding-left: 2rem;
}


